.col-md-4.col-md-offset-4#form
  = render 'equations/shared_index/type'
  = render 'equations/shared_index/params'
  = render 'equations/shared_index/result'
  = render 'equations/shared_index/authorization_params'
