%span.mul1-sign
%span.mul1
%span.mul1-multiply
%strong
  x
  %sup 2
%span.multiply2-block
  %span.mul2-sign
  %span.mul2
  %span.mul2-multiply
  %strong x
%span.free-term-block
  %span.free-term-sign
  %span.free-term
\= 0
